@import "base";

.store-badge {
    height: 2em;
}

.tick {
    margin-left: -3em;
    text-decoration: underline;

    @media screen and (max-width: @minimumWidth) {
        margin-left: -1em;
        &:before{
            content: "__";
        }
    }
}

.next {
    margin-left: -3em;
    color: @headerFooterBackground;
    font-weight: bold;
    font-size: 2em;
    line-height: 2em;

    &:before {
        content: "»»» NEXT: ";
    }

    &:after {
        content: " «««";
    }

    @media screen and (max-width: @mediumWidth) {
        margin-left: 0;
    }
}
